name: Tests

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main", "develop"]

  workflow_dispatch:

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build (no tests) to warm caches
        run: ./gradlew clean assemble --no-daemon

      - name: Test + JaCoCo
        run: ./gradlew test jacocoTestReport --no-daemon

      - name: Upload JUnit & JaCoCo reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: test-and-coverage-reports
          path: |
            build/test-results/test/**/*
            build/reports/tests/test/**/*
            build/reports/jacoco/test/html/**/*
            build/reports/jacoco/test/jacocoTestReport.xml
